[submodule "auto-complete"]
	path = auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "auto-complete-clang"]
	path = auto-complete-clang
	url = https://github.com/brianjcj/auto-complete-clang.git
[submodule "pylookup"]
	path = pylookup
	url = http://git.freepel.fr/pylookup.git
[submodule "egg"]
	path = egg
	url = https://github.com/byplayer/egg.git
