[submodule "auto-complete"]
	path = auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "auto-complete-clang"]
	path = auto-complete-clang
	url = https://github.com/mikeandmore/auto-complete-clang
[submodule "pylookup"]
	path = pylookup
	url = https://github.com/tsgates/pylookup
[submodule "egg"]
	path = egg
	url = https://github.com/byplayer/egg.git
